<h1>Listing restaurants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Noms</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @noms.each do |nom| %>
      <tr>
        <td><%= nom.name %></td>
        <td><%= nom.delicious %></td>
        <td><%= link_to('View Photos', nom_photos_path(nom.id)) %></td>
        <td><%= link_to 'Show', restaurant_nom_path(@restaurant.id, nom.id)%></td>
        <td><%= link_to content_tag(:i, '',) %></td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= image_tag(restaurant.logo.url(:thumb)) %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
