<h1>Photos Index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<%= form_for(@photo) do |f| %>
  <%= f.label(:image, 'Upload Photo') %>
  <%= f.file_field(:image) %>
  <%= f.submit('Upload', class: 'btn btn-primary') %>
<% end %>

<div class="row">
  <% @photos.each do |photo| %>
    <% next if photo.image.blank? %>
    <div class="col-sm-3">
      <%= image_tag(photo.image.url(:big)) %>
    </div>
  <% end %>
</div>
